* {
  margin: 0;
  padding: 0;
  
}
body {
  background: url("../img/frentecoracao3.png") no-repeat center center;
  background-size: cover;
  height: 98vh;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  text-transform: uppercase;
  
}

nav {
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #ea1635;
  height: 8vh;
}

/* sobre */

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 0.2em;
  margin-left: 1.7em;
  margin-top: 0.2em;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}


@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}



.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}

.fundorgb{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(214, 194, 194) );
}

.textohome{
  position: fixed;
  margin-left: 95rem;
  margin-top: 30rem;
  margin-right: 5rem;
  font-size: 150%;
  border: 0.5rem solid rgb(241, 111, 111);
  border-radius: 1rem;
  background-color: rgb(241, 111, 111);
  font-weight: bold;
}

.user{
height: 3em; 
position: absolute;
right: 0;
margin-right: 1.7em;
}

